# Ignore RStudio and Quarto settings
.Rproj.user/
.quarto/

# Ignore system-specific renv directories
renv/library/
renv/cache/

# Track renv lockfile and settings
!renv.lock
!renv/settings.dcf

# Ignore Netlify folder
.netlify

# Ignore generated folders and websites
_web/

# Ignore file types generated during work, unless tracked explicitly
~*
*.csv
*.html
*.rds

# Specific files to ignore
.Rhistory
.RData

/.quarto/
